<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
  <%= form_with model: @post do |f| %>
    <p class="h3">Title</p>
    <%= f.text_field :title, :class => "form-control" %>
    <p class="h3">Desctiption</p>
    <%= f.text_area :desctiption, :class => "form-control" %>
    <p>Add photos</p>
    <%= f.file_field :images, :class => "form-control" %>
    <br>
    <%= form.submit %>
    <% end %>
  </div>
<% end %>
