<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="card-title h3">
          <%= post.title%>
        </div>
        <div class="cart-text">
          <%= post.shorts%>
        </div>
        <%if can? :read, post %>
        <%= link_to "Show", post, class: "btn btn-primary"%>
        <%# Make bug after current user %>
        <% end %>
      </div>
    </div>
      <tr>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
